.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 29px 120px;
}
.nav-start {
  font-size: 30px;
}
.nav-middle {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 16px;
  /* justify-content: ; */
}
.nav-end {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 16px;
}
.nav-end button {
  padding: 16px 32px;
  font-size: 16px;
  border-radius: 30px;
  background: #f27a44;
  border: 0;
  color: white;
}
