.nav {
  display: flex;
  align-items: center;
  gap: 2px;
  justify-content: space-between;
  margin: 29px 120px;
}
.nav-start {
  font-size: 30px;
}
.nav-middle {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 16px;
  /* justify-content: ; */
}
.nav-end {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 16px;
}
.nav-end button {
  padding: 16px 32px;
  font-size: 16px;
  border-radius: 30px;
  background: #f27a44;
  color: white;
}

@media screen and (max-width: 576px) {
  .nav {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    margin: 29px 20px;
  }

  .nav-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 16px;
  }

  .nav-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 16px;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
    gap: 2px;
    justify-content: space-between;
    margin: 29px 60px;
  }
  .nav-middle {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 10px;
  }
  .nav-end {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
  }
}
