.footer {
  margin: 220px 120px 80px 120px;
}

.footer-section h1 {
  text-align: center;
}
.footer-section > p {
  text-align: center;
  margin: 32px 0 50px 0;
}
.links {
  display: flex;
  justify-content: center;
  gap: 45px;
}
